.video {
  position: relative;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.tap-overlay {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
