body {
  margin: 0;
  background: black;
  overflow: hidden;
}

#feed {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.video {
  height: 100vh;
  scroll-snap-align: start;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
}
